*{
  margin:0;
  padding:0;
}

.outer{
  height: 600px;
  width:  1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:100px;
  padding:0;
  margin-right: 100px;
  border: 2px solid cadetblue;
  
}

.inner1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 1000px;
  background-color:bisque;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.inner11{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 1000px;
  background-color :green;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}
.inner2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height:600px;
  width: 1000px;

}